<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav id="globalNav"> <nav> <a href="/">Tickets</a>
        <a href="/ticket_chats">Tickets_chats</a>
        <a href="/users">Users</a>
        <a href="/tags">Tags</a>
        <a href="/agents_has_tickets">Agents_has_ticket</a>
        <a href="/agents">Agent</a>
    </nav>
    {{{body}}}

</body>
</html>
