<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tickets-R-US</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>

    <h1 id="productTitle">Tickets-R-US</h1>

<nav id="globalNav"> <nav> 
        <a href="/">Home</a>
        <a href="tickets">Tickets</a>
        <a href="/ticket_chats">Tickets Messages</a>
        <a href="/users">Users</a>
        <a href="/tags">Tags</a>
        <a href="/agents_has_tickets">Claimed Tickets</a>
        <a href="/agents">Agent</a>
</nav>
<br>
    <main>
        {{{body}}}
    </main>

</body>
</html>
