<!-- agents_has_tickets.hbs -->

{{!-- Create a table --}}
<table id="agent_ticket_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.agent_id}}</td>
            <td>{{this.ticket_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add an entry</h2>
<p>To add a new ticket, please enter the ticket information below and click 'Submit'!</p>
<form id="add-agent-ticket-form-ajax">
    <label for="input-agent_id">agent_id: </label>
    <input type="number" name="input-agent_id" id="input-agent_id">
    
    <label for="input-ticket_id">ticket_id: </label>
    <input type="number" name="input-ticket_id" id="input-ticket_id">

    

    
    <input type="submit">
</form>
<script src="./js/add_agent_ticket.js"></script>