<!-- index.hbs -->
<h2>View and Add Agents</h2>
{{!-- Create a table --}}
<table id="agent_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.agent_id}}</td>
            <td>{{this.agent_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<h2>Add an entry</h2>
<p>To add a new agent, please enter the agent information below and click 'Submit'!</p>
<form id="add-agent-form-ajax">
    <label for="input-agent_id">agent_id: </label>
    <input type="number" name="input-agent_id" id="input-agent_id">
    
    <label for="input-agent_name">agent_name: </label>
    <input type="text" name="input-agent_name" id="input-agent_name">

    

    
    <input type="submit">
</form>
<script src="./js/add_agent.js"></script>