<!-- index.hbs -->
<h2>Example Database Project</h2>
<article>This is an example database. Currently what is implemented is the adding of data for tickets, other pages have
    the correct forms but
    no backend to support it.
</article>
<h3>Tickets</h3>
<article>Where new tickets can be added</article>
<h3>Tickets_chats</h3>
<article>Where new ticket conversations can be added</article>
<h3>Users</h3>
<article>Where new users can be added</article>
<h3>Tags</h3>
<article>Where new tags can be added</article>
<h3>Agents_has_ticket</h3>
<article>Where agent be assigned to tickets</article>
<h3>Agents</h3>
<article>Where agents can be added</article>