<!-- index.hbs -->
<h2>Welcome to Tickets-R-US</h2>
<p>
    Thank you for your purchase of our ticketing system. This system is designed to help you manage your customer's support tickets and provide a way for your agents to communicate with your customers.
</p>

<h3>Tickets</h3>
<p>Where new tickets can be added</p>
<h3>Ticket Messages</h3>
<p>This is where you can see chat history of all your tickets</p>
<h3>Users</h3>
<p>Where new users can be added</p>
<h3>Departments</h3>
<p>You can add different department tags to better help sort your tickets to the proper staff.</p>
<h3>Claimed Tickets</h3>
<p>Allows to quickly see which agents are working which tickets.</p>
<h3>Agents</h3>
<p>Where agents can be added</p>