body{
  background-color: #E3E1D9;
  font-size:large;
  text-align: center;
}
nav {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  
} 

#globalNav a{

    margin: 3% 1%;
    padding: 2%;
    color: black;
    border: black;
}

nav a {
  font-size: 1.5rem;
  border-radius: 99999px;
  text-decoration: none;
  color: black;
  background-color: bisque;
}

nav a:hover {
  font-size: 1.5rem;
  border-radius: 99999px;
  text-decoration: none;
  color: black;
  background-color: black;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse:collapse;
  margin-top: 50px;
}
#edit_ticket_form_ajax{
font-size: xx-large;


}
#edit_ticket_form_ajax input{
  font-size: x-large;
}
#edit_ticket_form_ajax option{
  font-size: x-large;
}
#edit_ticket_form_ajax select{
  font-size: x-large;
}
tr {
  border-bottom: 2px solid #607274;
  padding: 5px;
  text-align: left;
}

td:nth-child(even) {
  background-color: #F3EEEA;
}

thead {
  background-color: #9f968f;
}

#globalNav a:hover{

  margin: 3% 1%;
  padding: 2%;
  color: white;
  border: black;
}


th {
  text-align: center;
  text-transform: capitalize;
}

td {
  text-align: center;
}

#reset-button {
  background: red;
  display: inline-block;
  width: 18vw;
  overflow: hidden;
  margin-top: 20px !important;
}

#productTitle{
  font-size: 50px;
}
 
